#
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation
#
.classpath
.checkstyle
.factorypath
.project
.settings
target
target-ide
*.iml
*.svg
.idea
bin
xtend-gen
yang-gen-config
yang-gen-sal
target
.DS_Store
META-INF
.fbExcludeFilterFile
.cache-main
.cache-tests
dependency-reduced-pom.xml

# Sphinx documentation
.tox/
docs/_build/
