[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group saml/odl-gerrit-gnmi-committers
	read = group GitHub Replication
	read = group GitHub Replication
	read = group GitHub Replication
	read = group GitHub Replication
	read = group GitHub Replication
